---
interface Props {
  eyebrow: string;
  title: string;
  description: string;
}

const { eyebrow, title, description } = Astro.props;
---

<section class="blog-hero-banner page-hero-banner">
  <div class="blog-hero-banner-inner">
    <p class="eyebrow">{eyebrow}</p>
    <h1>{title}</h1>
    <p>{description}</p>
  </div>
</section>
